@import "tailwindcss";
@plugin "daisyui";


.grid-games-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, );
  font-family: sans-serif;
  position: relative;
}

.card {
    border-radius: 1.25rem;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: white;
}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0,0,0,0.15);
}

.heart-button {
  background: #8b5cf6;
  border: none;
  color: white;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.heart-button:hover {
  background: #7c3aed;
}

.genre-badge {
    font-size: 0.75rem;
    padding: 0.25rem 0.6rem;
    border-radius: 9999px;
    background-color: aquamarine;
    color: #555;
}

.search-bar {
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}